@import url("https://use.typekit.net/ppi5nuf.css");

.mainscreen{
    height: 93vh;
    width: 100%;
}

.page{
    width: 100%;
}

.page-title{
    font-size: 3rem;
    font-family: "Work Sans", sans-serif;
    padding: 5px 10px;
}